source "../modules/drivers/gpio/Kconfig"
source "../modules/drivers/gps/Kconfig"
source "../modules/drivers/hsi/Kconfig"
source "../modules/drivers/hwmon/Kconfig"
source "../modules/drivers/modem_control/Kconfig"
source "../modules/drivers/misc/Kconfig"
source "../modules/drivers/i2c/busses/Kconfig"
source "../modules/drivers/input/Kconfig"
source "../modules/drivers/leds/Kconfig"
source "../modules/drivers/nfc/Kconfig"
source "../modules/drivers/power/Kconfig"
source "../modules/drivers/staging/Kconfig"
source "../modules/drivers/pinctrl/Kconfig"
source "../modules/drivers/platform/x86/Kconfig"
source "../modules/drivers/regulator/Kconfig"
source "../modules/drivers/switch/Kconfig"
source "../modules/drivers/hsu/Kconfig"
source "../modules/drivers/mfd/Kconfig"
source "../modules/drivers/net/wireless/bcm43xx/Kconfig"
