#
# I2C buses device configuration
#

config I2C_DESIGNWARE_PCI_FORK
	tristate "Synopsys DesignWare PCI"
	depends on PCI
	help
	  If you say yes to this option, support will be included for the
	  Synopsys DesignWare I2C adapter. Only master mode is supported.

	  This driver can also be built as a module.  If so, the module
	  will be called i2c-designware-pci.

config I2C_PMIC
	bool "PMIC I2C Adapter"
	depends on INTEL_SCU_IPC
	help
	  Say Y here if you have PMIC I2C adapter.

	  PMIC-I2C adapter driver to handle I2C transactions
	  in the PMIC's I2C bus.
